<html>
<script type="text/javascript" src="/static/js/ext/adapter/ext/ext-base.js" ></script>

<script type="text/javascript" src="/static/js/ext/ext-all-debug.js" ></script>

<script type="text/javascript" src="/static/js/ext/examples/shared/extjs/App.js"></script>
<script type="text/javascript" src="/static/js/ext/examples/ux/ux-all.js"></script>
<script type="text/javascript" src="/static/js/ext/examples/ux/RowEditor.js"></script>

<script type="text/javascript" src="/static/js/admin/api_author.js" ></script>
<script type="text/javascript" src="/static/js/admin/api_book.js" ></script>
<script type="text/javascript" src="/static/js/admin/api_category.js" ></script>
<script type="text/javascript" src="/static/js/admin/api_review.js" ></script>
<script type="text/javascript" src="/static/js/admin/insert_book.js" ></script>

<link rel="stylesheet" type="text/css" href="/static/js/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/static/js/ext/examples/shared/icons/silk.css" />

<!--
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
-->

<body>

<div id="body">

<div class="container" style="width:600px;">
  <div id="form-div">
    {% csrf_token %}
  </div>
</div>

</div> <!-- endof body -->

</body>
</html>
