<html>
<script type="text/javascript" src="/static/js/ext/adapter/ext/ext-base.js" ></script>

<script type="text/javascript" src="/static/js/ext/ext-all-debug.js" ></script>

<script type="text/javascript" src="/static/js/ext/examples/shared/extjs/App.js"></script>
<script type="text/javascript" src="/static/js/ext/examples/ux/ux-all.js"></script>
<script type="text/javascript" src="/static/js/ext/examples/ux/RowEditor.js"></script>

<script type="text/javascript" src="/static/js/maintenance.js" ></script>
<script type="text/javascript" src="/static/js/maintenance.category.js" ></script>
<script type="text/javascript" src="/static/js/maintenance.state.js" ></script>
<script type="text/javascript" src="/static/js/maintenance.ccvendor.js" ></script>

<link rel="stylesheet" type="text/css" href="/static/js/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/static/js/ext/examples/shared/icons/silk.css" />

<!--
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
-->

<body>

<div id="body">

<span>Adminstration</span>

<div class="container" style="width:600px;">
  <div id="grid-category"></div>
</div>

<div class="container" style="width:600px;">
  <div id="grid-state"></div>
</div>

<div class="container" style="width:600px">
  <div id="grid-ccvendor"></div>
</div>


</div> <!-- endof body -->

</body>
</html>
